<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <link href="http://fonts.cdnfonts.com/css/whitestone" rel="stylesheet">-->
    <title>Document</title>
</head>
<style>
    @font-face {
        font-family: 'Whitestone';
        font-style: normal;
        font-weight: 400;
        src: local('Whitestone'), url('https://fonts.cdnfonts.com/s/71471/Whitestone.woff') format('woff');
    }

    @font-face {
        font-family: 'Whitestone';
        font-style: italic;
        font-weight: 400;
        src: local('Whitestone'), url('https://fonts.cdnfonts.com/s/71471/Whitestone Italic.woff') format('woff');
    }

    @font-face {
        font-family: 'Whitestone';
        font-style: normal;
        font-weight: 700;
        src: local('Whitestone'), url('https://fonts.cdnfonts.com/s/71471/Whitestone Bold.woff') format('woff');
    }

    @font-face {
        font-family: 'Whitestone';
        font-style: italic;
        font-weight: 700;
        src: local('Whitestone'), url('https://fonts.cdnfonts.com/s/71471/Whitestone Bold Italic.woff') format('woff');
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Whitestone', sans-serif;
        font-size: 12px;
    }

    .card--front {
        height: 148mm;
        width: 106mm;
        transform: rotate(90deg);
        border: #181818 solid 2px;
        background-image: url("../images/background-card-img.jpg");
    }

    .card--back {
        width: 148mm;
        height: 106mm;
        border: #181818 solid 2px;
        background-image: url("../images/background-card-img.jpg");
    }

    .card__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        padding: 14px;
        margin-bottom: 10px;
        background-image: url("../images/background-header-img.png");
        background-repeat: no-repeat;
    }

    .card__header--mini {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 35px;
        padding: 5px;
        background-image: url("../images/background-header-img.png");
        background-size: 100% 250px;
        background-repeat: no-repeat;
    }

    .faction {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .faction__name {
        font-size: 16px;
    }

    .faction__img {
        color: #181818;
        fill: #181818;
        margin-right: 10px;
    }

    .faction__name--mini {
        font-size: 14px;
    }

    .faction__img--mini {
        color: #181818;
        fill: #181818;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .persons-section {
        padding: 0 14px;
    }

    .persons-section__title {
        font-size: 20px;
        margin-bottom: 8px;
        text-align: center;
    }

    .person {
        border-bottom: #181818 solid 2px;
        background-repeat: no-repeat;
        background-position: 10px;
    }

    .person:not(:last-child) {
        margin-bottom: 10px;
    }

    .person__top-content {
        display: flex;
        padding-bottom: 2px;
        flex-direction: row;
        justify-content: space-between;
    }

    .person__name {
        font-size: 15px;
    }

    .person__pts {
        font-size: 15px;
    }

    .person__left {
        display: flex;
    }

    .person__img {
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }

    /*.fighters {*/
    /*    padding: 0 14px;*/
    /*}*/

    /*.fighters__title {*/
    /*    font-size: 20px;*/
    /*    margin-bottom: 8px;*/
    /*    text-align: center;*/
    /*}*/

    /*.fighter {*/
    /*    border-bottom: #181818 solid 2px;*/
    /*    background-repeat: no-repeat;*/
    /*    background-position: 10px;*/
    /*}*/

    /*.fighter:not(:last-child) {*/
    /*    margin-bottom: 10px;*/
    /*}*/

    /*.fighter__top-content {*/
    /*    display: flex;*/
    /*    padding-bottom: 2px;*/
    /*    flex-direction: row;*/
    /*    justify-content: space-between;*/
    /*}*/

    /*.fighter__name {*/
    /*    font-size: 15px;*/
    /*}*/

    /*.fighter__pts {*/
    /*    font-size: 15px;*/
    /*}*/

    /*.fighter__left {*/
    /*    display: flex;*/
    /*}*/

    /*.fighter__img {*/
    /*    height: 15px;*/
    /*    width: 15px;*/
    /*    margin-right: 5px;*/
    /*}*/

    /*.heroes {*/
    /*    padding: 0 15px;*/
    /*    margin-bottom: 10px;*/
    /*}*/

    /*.heroes__title {*/
    /*    font-size: 20px;*/
    /*    margin-bottom: 8px;*/
    /*    text-align: center;*/
    /*}*/

    /*.hero {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    min-height: 40px;*/
    /*    background-repeat: no-repeat;*/
    /*    background-position: 10px;*/
    /*}*/

    /*.hero:not(:last-child) {*/
    /*    margin-bottom: 10px;*/
    /*}*/

    /*.hero__top-content {*/
    /*    display: flex;*/
    /*    width: 100%;*/
    /*    flex-direction: row;*/
    /*    justify-content: space-between;*/
    /*}*/

    /*.hero__name {*/
    /*    font-size: 18px;*/
    /*}*/

    /*.hero__pts {*/
    /*    font-size: 20px;*/
    /*}*/

    /*.weapons {*/
    /*    display: flex;*/
    /*}*/

    /*.weapons__weapon:not(:last-child) {*/
    /*    margin-right: 8px;*/
    /*}*/

    .rules {
        padding: 5px 10px;
    }

    .rule {
        position: relative;
        display: flex;
        min-height: 25px;
        font-size: 11px;
    }

    .rule--mini {
        position: relative;
        display: flex;
        min-height: 25px;
        font-size: 8px;
    }

    .rule:not(:last-child) {
        border-bottom: #181818 solid 1px;
        /*margin-bottom: 2px;*/
    }

    .rule--mini:not(:last-child) {
        border-bottom: #181818 solid 1px;
        /*margin-bottom: 2px;*/
    }

    .rule__name {
        display: inline;
    }

    .rule__text {
        display: inline;
    }

    .rule__img {
        position: absolute;
        color: #181818;
        fill: #181818;
        width: 25px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
    }

    .rule__img--mini {
        position: absolute;
        color: #181818;
        fill: #181818;
        width: 15px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
</style>
<body>
<div class="container">
    <div class="card--front">
        <header class="card__header">
            <div class="faction">
                <img class="faction__img" src="../images/<%= data.factionImg %>">
                <h1 class="faction__name"><%= `${data.factionName} [${data.factionPTS}]` %></h1>
            </div>
        </header>
        <section class="persons-section">
            <h2 class="persons-section__title">Leader</h2>
            <ul class="persons-section__list">
                <li class="persons-section__item person">
                    <div class="person__top-content">
                        <div class="person__left">
                            <% data.leader.imgs.forEach(function(img, idx){ %>
                                <% if (img) { %>
                                    <img class="person__img" src="../images/<%= img %>"
                                         style="left: <%= idx * 30 %>px">
                                <% } %>
                            <% }) %>
                            <h3 class="person__name">
                                <%= data.leader.name %>
                                <%= data.leader.repeats > 1 ? ` x${data.leader.repeats}` : '' %>
                            </h3>
                        </div>
                        <span class="person__pts"><%= data.leader.pts %></span>
                    </div>
                </li>
            </ul>
        </section>
        <% if(data.commonHeroes.at(-1)){ %>
            <section class="persons-section">
                <h2 class="persons-section__title">Heroes</h2>
                <ul class="persons-section__list">
                    <% data.commonHeroes.forEach(function(hero){ %>
                        <li class="persons-section__item person">
                            <div class="person__top-content">
                                <div class="person__left">
                                    <% hero.imgs.forEach(function(img, idx){ %>
                                        <% if (img) { %>
                                            <img class="person__img" src="../images/<%= img %>"
                                                 style="left: <%= idx * 30 %>px">
                                        <% } %>
                                    <% }) %>
                                    <h3 class="person__name">
                                        <%= hero.name %>
                                        <%= hero.repeats > 1 ? ` x${hero.repeats}` : '' %>
                                    </h3>
                                </div>
                                <span class="person__pts"><%= hero.pts %></span>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </section>
        <% } %>
        <% if(data.champions.at(-1)){ %>
            <section class="persons-section">
                <h2 class="persons-section__title">Fighters</h2>
                <ul class="persons-section__list">
                    <% data.champions.forEach(function(fighter){ %>
                        <li class="persons-section__item person">
                            <div class="person__top-content">
                                <div class="person__left">
                                    <% fighter.imgs.forEach(function(img, idx){ %>
                                        <% if (img) { %>
                                            <img class="person__img" src="../images/<%= img %>"
                                                 style="left: <%= idx * 30 %>px">
                                        <% } %>
                                    <% }) %>
                                    <h3 class="person__name">
                                        <%= fighter.name %>
                                        <%= fighter.repeats > 1 ? ` x${fighter.repeats}` : '' %>
                                    </h3>
                                </div>
                                <span class="person__pts"><%= fighter.pts %></span>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </section>
        <% } %>
    </div>
    <% if (data.selectionRules.at(-1)) { %>
        <div class="card--back">
            <header class="card__header--mini">
                <div class="faction">
                    <img class="faction__img--mini" src="../images/<%= data.factionImg %>">
                    <h1 class="faction__name--mini"><%= `${data.factionName} [${data.factionPTS}]` %></h1>
                </div>
            </header>
            <div class="rules">
                <h2>Selection Rules</h2>
                <ul class="rules__list">
                    <% data.selectionRules.forEach(function(rule){ %>
                        <li
                        <% if(data.selectionRules.length > 8) { %>
                            class="rules__item rule--mini"
                            style="padding-left: 60px"
                        <% } else { %>
                            class="rules__item rule"
                            style="padding-left: 90px"
                                <% } %>
                        >
                            <% rule.imgs.forEach(function(img, idx){ %>
                                <% if(data.selectionRules.length > 8) { %>
                                    <img
                                            class="rule__img--mini"
                                            src="../images/<%= img %>"
                                            style="left: <%= idx * 20 %>px"
                                    >
                                <% } else { %>
                                    <img
                                            class="rule__img"
                                            src="../images/<%= img %>"
                                            style="left: <%= idx * 30 %>px"
                                    >
                                <% } %>
                            <% }) %>
                            <div class="rule__content">
                                <h3 class="rule__name">
                                    <%= rule.name %>
                                </h3>
                                <p class="rule__text">
                                    <%= rule.text %>
                                </p>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    <% } %>

</body>
</html>